

/* Styles for iPhone X and similar devices */
@media only screen and (max-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}


/* Styles for desktop screens with a resolution of 1920px and larger */
@media only screen and (min-width: 1920px) {


  .App-header {
    /*background-color: #282c34;*/
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    /*font-size: calc(10px + 2vmin);*/
    /*color: white;*/
  }

}
