.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.searchBar input {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
}