.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar-input {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 16px;
    outline: none;
}