.container {
    display: grid;
    grid-template-columns:1fr 2.5fr;
    padding: 2rem 0 2rem 0;
    box-sizing: border-box;
}

.movie-img {
    height: 100%;
    width: 100%;
    margin-right: 1rem;
    padding-right: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 4rem;
}

.content-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-title {
    font-family: Arial, sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: start;
    color: var(--black);
    margin-bottom: 0.4rem;
}

.runtime {
    font-family: Arial, sans-serif;
    margin-bottom: 0.5rem;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-bottom: 0.9rem;
    /*padding-top: 0.8rem;*/
}

.synopsis{
    font-size: 1.2rem;
    font-family: Georgia, sans-serif;
    padding-bottom: 13rem;

}

.content-down {
    width: 40%;
}


