@import '../../../colors.css#black';

.container {
    display: flex;
    justify-content: center;
}

.title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--black);
    /*margin: 0 auto;*/

}

/*iPhone X*/
@media (min-width: 375px) {
    .title {
        font-size: 60px;
        max-width: 80%;
    }
}

/* 'web */
@media (min-width: 1686px) {
    .title {
        font-size: 60px;
        max-width: 45%;
    }
}

/* Web 1920 screen*/
@media (min-width: 1920px) {
    .title {
        font-size: 60px;
        max-width: 45%;
    }
}
